<p>Witaj, {{username}}</p>
<p>Aby potwierdzić twój adres email kliknij w ponzszy link</p>
<p>
    <a href="{{link}}">POTWIERDŹ</a>
</p>

<p>Jeśli nie ty się rejestrowałeś po prostu zignoruj tego maila.</p>
